<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<title>Codecat | Scribblings of a programatrickerist.</title>

		<link rel="stylesheet" href="/pure.css">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
	</head>

	<body>
		<header>
			<h1><a href="/">Codecat.nl</a></h1>
			<p class="social">
				<a rel="me noopener noreferrer" href="https://twitter.com/codecatt" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://mastodon.art/@codecat" title="Mastodon" target="_blank"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://github.com/codecat" title="GitHub" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://nimble.itch.io" title="Itch" target="_blank"><i class="fa fa-gamepad" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://twitch.tv/missterious" title="Twitch" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://soundcloud.com/codecatt" title="SoundCloud" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
			</p>
		</header>

		<div class="container">
			{% block content %} {% endblock %}
		</div>

		<footer>
			&copy; Melissa Geels 2022
		</footer>
	</body>
</html>
