<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		{% if page and page.title %}
			<title>{{ page.title }} - Codecat - Scribblings of a programatrickerist.</title>
		{% else %}
			<title>Codecat - Scribblings of a programatrickerist.</title>
		{% endif %}

		<meta name="theme-color" content="#a7eb47">
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Codecat's Blog{% endif %}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{% if page.permalink %}{{ page.permalink | safe }}{% else %}{{ config.base_url | safe }}{% endif %}">
		{% if page.extra.og_image %}
			<meta property="og:image" content="{{ config.base_url | safe }}{{ page.extra.og_image | safe }}">
		{% endif %}
		{% if page.extra.og_description %}
			<meta property="og:description" content="{{ page.extra.og_description }}">
		{% endif %}

		<link rel="stylesheet" href="/pure.css">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
	</head>

	<body>
		<header>
			<h1><a href="/">Codecat.nl</a></h1>
			<p class="social">
				<a rel="me noopener noreferrer" href="https://meow.social/@codecat" title="Mastodon" target="_blank"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://github.com/codecat" title="GitHub" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://nimble.itch.io" title="Itch" target="_blank"><i class="fa fa-gamepad" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://twitch.tv/missterious" title="Twitch" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i></a>
				<a rel="me noopener noreferrer" href="https://soundcloud.com/codecatt" title="SoundCloud" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
			</p>
		</header>

		<div class="container">
			{% block content %} {% endblock %}
		</div>

		<footer>
			&copy; Melissa Geels 2024
		</footer>
	</body>
</html>
