{% extends "base.html" %}

{% block content %}
	{% for post in section.pages %}
		<article class="index pure-g">
			<div class="pure-u-1">
				<h2><a href="/{{ post.path }}">{{ post.title }}</a></h2>
				<p class="subtitle">
					<i class="fa fa-calendar" aria-hidden="true"></i>
					Posted on {{ post.date | date }}
				</p>
				{% if post.summary %}
					<p>{{ post.summary | safe }}</p>
					<p class="readmore"><a href="/{{ post.path }}">Read more...</a></p>
				{% endif %}
			</div>
		</article>
	{% endfor %}
{% endblock %}
