{% extends "base.html" %}

{% block content %}
	<article class="pure-g">
		<div class="pure-u-1">
			<h1>{{ page.title }}</h1>
			<p class="subtitle">
				<i class="fa fa-calendar" aria-hidden="true"></i>
				Posted on {{ page.date | date }}
			</p>
			<div class="content">
				{{ page.content | safe }}
			</div>

			<div class="page-footer">
				<p><b>Like my work?</b></p>
				<p>You can <a href="https://meow.social/@codecat" rel="me noopener" target="blank">follow me on Mastodon</a> or <a href="https://www.patreon.com/openplanet" rel="noopener" target="blank">sponsor me on Patreon</a>.</p>
			</div>
		</div>
	</article>
{% endblock %}
